In [3]:
1.per= int(input("enter percentage :"))
if per>90:
    print("A")
elif per>80 and per<=90:
    print("B")
elif per>=60 and per<=80:
    print("C")
elif per<60:
    print("D")

enter percentage : 85

B

In [11]:
2.costprice= int(input("enter cost of bike"))
if costprice  >100000:
    print("15%")
elif costprice >50000 and costprice <=100000:
    print("10%")
elif costprice <=50000:
    print("5%")

enter cost of bike 80000

10%

In [12]:
3.city = input("enter city name")
if city =="Delhi":
    print("Red Fort")
elif city =="Agra":
    print("Taj Mahal")
elif city == "Jaipur":
    print("Jal Mahal")

enter city name Delhi

Red Fort

In [ ]:
4.count = 0
num=int(input("enter number"))
while(0<num<=10 and (num%3==0)):
    count =count+1
    num=num%3
count

In [ ]:
5.when we have to print a block of code in a repeated manner for unknown number of times or untill a condition is met.
example: if we want to print numbers from 1 to 30
    i = 1
while i<=30:
    print(i)
    i=i+1

In [ ]:
6.n = int(input("Enter number of rows"))
i = 1
while i<=n:
    j=1
    while j<=i:
        print("*",end = " ")
        j=j+1
    print()
    i = i+1

In [ ]:
7.i=10
while i>=1:
    print(i)
    i = i-1